{% extends 'FIRE/base.html' %}

{% block content %}

    {% if user.is_authenticated %}

        <p>Edit Simulation <a href="{% url 'editsimulation' simulation.id %}">{{ simulation.name }}</a></p>

    {% else %}

        <p>Want to save and edit this sumulation? <a href="{% url 'signupsave' simulation.id %}">Sign-up here</a></p>
    
    {% endif %}

        <div>
            <table border="1" class="table table-striped table-hover">
                <thead class="table-dark" style="position: sticky;">
                    <tr style="text-align: center;">
                        <th style="white-space:nowrap; color:#3F3F76; background-color:#FFCC99;" colspan="2" class="border-end border-dark">RETIREMENT AGE</th>
                        <th style="white-space:nowrap; color:#3F3F76; background-color:#FFCC99;" colspan="1">SALARY GROWTH</th>
                        <th style="white-space:nowrap; color:#3F3F76; background-color:#FFCC99;" colspan="1">BONUS PERCENTAGE</th>
                        <th style="white-space:nowrap; color:#3F3F76; background-color:#FFCC99;" colspan="1" class="border-end border-dark">OTHER INCOME GROWTH</th>
                        <th style="white-space:nowrap; color:#3F3F76; background-color:#FFCC99;" colspan="1">FIXED COSTS INFLATION</th>
                        <th style="white-space:nowrap; color:#3F3F76; background-color:#FFCC99;" colspan="1">VARIABLE COSTS INFLATION</th>
                        <th style="white-space:nowrap; color:#3F3F76; background-color:#FFCC99;" colspan="1">HEALTH INSURANCE INFLATION</th>
                        <th style="white-space:nowrap; color:#3F3F76; background-color:#FFCC99;" colspan="1" class="border-end border-dark">TAX RATE</th>
                        <th style="white-space:nowrap; color:#3F3F76; background-color:#FFCC99;" colspan="1" class="border-end border-dark">-</th>
                        <th style="white-space:nowrap; color:#3F3F76; background-color:#FFCC99;" colspan="4" class="border-end border-dark">HEALTH SAVINGS ACCOUNT GROWTH</th>
                        <th style="white-space:nowrap; color:#3F3F76; background-color:#FFCC99;" colspan="3">EMPLOYER SPONSORED RETIREMENT PLAN GROWTH</th>
                        <th style="white-space:nowrap; color:#3F3F76; background-color:#FFCC99;" colspan="2" class="border-end border-dark">EMPLOYER CONTRIBUTION SALARY MATCH</th>
                        <th style="white-space:nowrap; color:#3F3F76; background-color:#FFCC99;" colspan="4" class="border-end border-dark">INDIVIDUAL RETIREMENT ACCOUNT GROWTH</th>
                        <th style="white-space:nowrap; color:#3F3F76; background-color:#FFCC99;" colspan="3" class="border-end border-dark">TAXABLE BROKERAGE ACCOUNT GROWTH</th>
                        <th style="white-space:nowrap; color:#3F3F76; background-color:#FFCC99;" colspan="3">LOGIC</th>
                    </tr>
                </thead>
                <thead class="table-dark" style="position: sticky;">
                    <tr style="text-align: center;">
                        <th style="white-space:nowrap; color:#000000; background-color:#ffffff;" colspan="2" class="border-end border-dark">{{ simulation.estimated_retirement_age }}</th>
                        <th style="white-space:nowrap; color:#000000; background-color:#ffffff;" colspan="1">{{ simulation.estimated_salary_raise }}%</th>
                        <th style="white-space:nowrap; color:#000000; background-color:#ffffff;" colspan="1">{{ simulation.estimated_bonus }}%</th>
                        <th style="white-space:nowrap; color:#000000; background-color:#ffffff;" colspan="1" class="border-end border-dark">{{ simulation.estimated_other_income_increase }}%</th>
                        <th style="white-space:nowrap; color:#000000; background-color:#ffffff;" colspan="1">{{ simulation.estimated_fixed_costs_inflation }}%</th>
                        <th style="white-space:nowrap; color:#000000; background-color:#ffffff;" colspan="1">{{ simulation.estimated_cost_of_living_inflation }}%</th>
                        <th style="white-space:nowrap; color:#000000; background-color:#ffffff;" colspan="1">{{ simulation.estimated_health_insurance_inflation }}%</th>
                        <th style="white-space:nowrap; color:#000000; background-color:#ffffff;" colspan="1" class="border-end border-dark">{{ simulation.estimated_tax_rate }}%</th>
                        <th style="white-space:nowrap; color:#000000; background-color:#ffffff;" colspan="1" class="border-end border-dark">-</th>
                        <th style="white-space:nowrap; color:#000000; background-color:#ffffff;" colspan="4" class="border-end border-dark">{{ simulation.esitmated_hsa_yearly_return }}%</th>
                        <th style="white-space:nowrap; color:#000000; background-color:#ffffff;" colspan="3">{{ simulation.esitmated_401k_yearly_return }}%</th>
                        <th style="white-space:nowrap; color:#000000; background-color:#ffffff;" colspan="2" class="border-end border-dark">{{ simulation.current_401k_employer_contribution }}%</th>
                        <th style="white-space:nowrap; color:#000000; background-color:#ffffff;" colspan="4" class="border-end border-dark">{{ simulation.esitmated_ira_yearly_return }}%</th>
                        <th style="white-space:nowrap; color:#000000; background-color:#ffffff;" colspan="3" class="border-end border-dark">{{ simulation.esitmated_iba_yearly_return }}%</th>
                        <th style="white-space:nowrap; color:#000000; background-color:#ffffff; font-size: 50%;" colspan="3">Magic Number = (Fixed Costs + Variable Costs + Health Insurance) x 25<br>Drawdown = (Fixed Costs + Variable Costs + Health Insurance) / Net Worth</th>
                    </tr>
                </thead>
                <thead class="table-dark" style="position: sticky;">
                    <tr style="text-align: center;">
                        <th style="white-space:nowrap; color:#ffffff; background-color:#000000;" colspan="2">PERSONAL INFO</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#000000;" colspan="3">INCOME</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#000000;" colspan="4">EXPENSES</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#000000;" colspan="1">-</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#000000;" colspan="4">HEALTH SAVINGS ACCOUNT</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#000000;" colspan="5">EMPLOYER SPONSORED RETIREMENT PLAN</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#000000;" colspan="4">INDIVIDUAL RETIREMENT ACCOUNT</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#000000;" colspan="3">TAXABLE BROKERAGE ACCOUNT</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#000000;" colspan="3">FIRE INDICATORS</th>
                    </tr>
                </thead>
                <thead class="table-dark" style="position: sticky;">
                    <tr style="text-align: center;">
                        <th style="white-space:nowrap; color:#ffffff; background-color:#9B9B9B;">YEAR</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#9B9B9B;">AGE</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#70AD47;">SALARY</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#70AD47;">BONUS</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#70AD47;">OTHER INCOME</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#FF0000;">FIXED COSTS</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#FF0000;">VARIABLE COSTS</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#FF0000;">HEALTH INSURANCE</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#FF0000;">TAXES</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#70AD47;">SAVINGS</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#9B9B9B;">HSA START</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#9B9B9B;">HSA CONTRIBUTION LIMIT</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#9B9B9B;">HSA CONTRIBUTION</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#70AD47;">HSA END</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#9B9B9B;">RETIREMENT PLAN START</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#9B9B9B;">RETIREMENT PLAN CONTRIBUTION LIMIT</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#9B9B9B;">RETIREMENT PLAN CONTRIBUTION</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#9B9B9B;">RETIREMENT PLAN EMPLOYER CONTRIBUTION</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#70AD47;">RETIREMENT PLAN END</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#9B9B9B;">IRA START</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#9B9B9B;">IRA CONTRIBUTION LIMIT</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#9B9B9B;">IRA CONTRIBUTION</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#70AD47;">IRA END</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#9B9B9B;">TBA START</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#9B9B9B;">TBA CONTRIBUTION</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#70AD47;">TBA END</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#000000;">NET WORTH</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#7030A0;">MAGIC NUMBER</th>
                        <th style="white-space:nowrap; color:#ffffff; background-color:#7030A0;">DRAWDOWN %</th>
                    </tr>
                </thead class="table-dark">
                <tbody>
                    {% for d in data %}
                    <tr style="text-align: center;">
                        <td style="background-color:#EDEDED;">{{ d.year }}</td>
                        <td style="background-color:#EDEDED; border-right-color: #000000; border-right-width: px;">{{ d.age }}</td>
                        <td style="background-color:#E2EFDA;">{{ d.salary }}</td>
                        <td style="background-color:#E2EFDA;">{{ d.bonus }}</td>
                        <td style="background-color:#E2EFDA;">{{ d.other_income }}</td>
                        <td style="background-color:#FFCCCC;">{{ d.fixed_costs }}</td>
                        <td style="background-color:#FFCCCC;">{{ d.cost_of_living }}</td>
                        <td style="background-color:#FFCCCC;">{{ d.health_insurance }}</td>
                        <td style="background-color:#FFCCCC;">{{ d.taxes }}</td>
                        <td style="background-color:#E2EFDA;">{{ d.savings }}</td>
                        <td style="background-color:#EDEDED;">{{ d.hsa_start }}</td>
                        <td style="background-color:#EDEDED;">{{ d.hsa_cont_limits }}</td>
                        <td style="background-color:#EDEDED;">{{ d.hsa_contributions }}</td>
                        <td style="background-color:#E2EFDA;">{{ d.hsa_end }}</td>
                        <td style="background-color:#EDEDED;">{{ d.retirement_start }}</td>
                        <td style="background-color:#EDEDED;">{{ d.retirement_cont_limits }}</td>
                        <td style="background-color:#EDEDED;">{{ d.retirement_contributions }}</td>
                        <td style="background-color:#EDEDED;">{{ d.employer_retirement_contributions }}</td>
                        <td style="background-color:#E2EFDA;">{{ d.retirement_end }}</td>
                        <td style="background-color:#EDEDED;">{{ d.ira_start }}</td>
                        <td style="background-color:#EDEDED;">{{ d.ira_cont_limits }}</td>
                        <td style="background-color:#EDEDED;">{{ d.ira_contributions }}</td>
                        <td style="background-color:#E2EFDA;">{{ d.ira_end }}</td>
                        <td style="background-color:#EDEDED;">{{ d.iba_start }}</td>
                        <td style="background-color:#EDEDED;">{{ d.iba_contributions }}</td>
                        <td style="background-color:#E2EFDA;">{{ d.iba_end }}</td>
                        <td style="background-color:#D0CECE;">{{ d.net_worth }}</td>
                        <td style="background-color:#CDACE6;">{{ d.magic_number }}</td>
                        <td style="background-color:#CDACE6;">{{ d.drawdown }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

{% endblock %}