{% extends 'FIRE/base.html' %}
{% block content %}

<script>
    $(document).ready(function() {
        $(window).keydown(function(event){
            if(event.keyCode == 13) {
            event.preventDefault();
            return false;
            }
        });
    });
</script>

<script>
    const FIREscrollspy = new bootstrap.ScrollSpy(document.body, {
        target: '#navbar'
    })
</script>

{% if error %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
{% endif %}

<!-- QUESTIONNAIRE NAVBAR -->
<nav id="navbar" class="navbar sticky-top shadow-sm">
    <div class="container-fluid">
        <h1 class="navbar-brand mb-0 fs-3 fw-bold text-success"><i class="bi bi-cash-coin"></i> FIRE Questionnaire</h1>
        <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link" href="#personalInfo">Personal Info</a></li>
        <li class="nav-item"><a class="nav-link" href="#income">Income</a></li>
        <li class="nav-item"><a class="nav-link" href="#expenses">Expenses</a></li>
        <li class="nav-item"><a class="nav-link" href="#savings">Savings</a></li>
        </ul>
    </div>
</nav>

<!-- NAVBAR SCOLL CONTAINER -->
<div class="container py-4" data-bs-spy="scroll" data-bs-target="#navbar" tabindex="0">
    <form method="POST">{% csrf_token %}

        <!-- PERSONAL INFO -->
        <section id="personalInfo" class="mb-5">
            <h3 class="section-title"><i class="bi bi-person-circle"></i> Personal Info</h3>
            <div class="row g-4">
                <!-- PERSONAL INSTRUCTIONS -->
                <div class="col-lg-7">
                    <div class="tip-card shadow-sm rounded">
                        <h5>Welcome!</h5>
                        <p><i>The following survey will inquire not only about your current financial sitution but also your anticipated future in areas including income, expenses and savings. At the end you'll be able to see the power of investing long term for your future!</i></p>
                        <p>Start by answering the first section, including this question: <b>What age would you like to retire?</b> </p>
                        <hr>
                        <p><small><i>Note: If you are currently not budgeting on a monthly or yearly basis, take some time to understand how you are earning and spending your money as a clear grasp of your budget will be a critical baseline to create an accurate simulation.</i></small> </p>
                        <p><small><i>Note: The estimates you provide throughout this survey should be an average over the course of today all the way up until your retirement age. Being consistent throughout with your estimates within this survey will allow you to compare various scenarios of high or low growth.</i></small> </p>
                    </div>
                </div>
                <!-- PERSONAL FIELDS -->
                <div class="col-lg-5">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="name" name="name" value="My Simulation" required>
                        <label for="name">Simulation Name</label>
                        <div id="nameHelp" class="form-text"><small>Provide a name for this simulation.</small></div>
                    </div>                
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="current_age" name="current_age" min="1" max="100" value="25" required>
                        <label for="current_age">Current Age</label>
                        <div id="current_ageHelp" class="form-text"><small>How old are you?</small></div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="estimated_retirement_age" name="estimated_retirement_age" min="2" max="101" value="40" required>
                        <label for="estimated_retirement_age">Retirement Age</label>
                        <div id="estimated_retirement_ageHelp" class="form-text"><small>What age would you like to retire?</small></div>
                    </div>
                    <div class="form-floating mb-3">  
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="coast_fire_opt_out" id="coast_fire_opt_out" value="False" checked hx-delete hx-target="#coast-fire-age" hx-swap="delete">
                            <label class="form-check-label" for="coast_fire_opt_out">No</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="coast_fire_opt_out" id="coast_fire_opt_int" value="True" hx-get="{% url 'coastfire-opt-in' %}" hx-vals="js:{max_age: document.getElementById('estimated_retirement_age').value, min_age: document.getElementById('current_age').value}" hx-target="#coast-fire" hx-swap="innerHTML">
                            <label class="form-check-label" for="coast_fire_opt_int">Yes</label>
                        </div>
                        <div id="coast_fire_opt_outHelp" class="form-text">
                            <small>Would you like to coast FIRE at a certain age?</small>
                        </div>
                    </div>
                    <div id="coast-fire">
                    </div>
                </div>
            </div>
        </section>
        <hr>
        <div id="incomes-div" class="text-center mt-3 mb-3">
            <button type="button" class="btn btn-success" hx-get="{% url 'create-incomes-section' %}" hx-target="#incomes-div" hx-swap="outerHTML">Next</button>
        </div>
    </form>
</div>

{% endblock %}