{% extends 'FIRE/base.html' %}

{% block content %}

<style>
    table {
        border-collapse: collapse;
        position: relative;
    }
    
    .tbl-container
    {
        max-width: fit-content;
        max-height: fit-content;
    }
    table th {
        position: sticky;
        top: -1px;
        z-index: 2;
    }
    td:first-child, th:first-child {
        position: sticky;
        left: 0;
        z-index: 1;
    }
    td:nth-child(2), th:nth-child(2) {
        position: sticky;
        left: 50px;
        z-index: 1;
    }
    th:first-child, th:nth-child(2) {
        z-index: 3;
    }
    .tbl-fixed
    {
        overflow-x: scroll;
        overflow-y: scroll;
        height: fit-content;
        max-height: 550px;
    }
    th, td
    {
        font-size: 100%;
    }
</style>

<div>
    <h1 class="text text-center">{{ simulation.name }}</h1>
    {% if user.is_authenticated %}
    <div class="col-lg-12 text-center mb-3">
        <table>
            <form action="{% url 'editsimulation' simulation.id %}">
                <button type="submit" class="btn btn-secondary btn-sm me-2"><i class="bi bi-sliders"></i> Edit</i></button>
            </form>
            <form action="{% url 'downloadsimulation' simulation.id %}">
                <button type="submit" class="btn btn-warning btn-sm"><i class="bi bi-filetype-csv"></i> Download</i></button>
            </form>
        </table>
    </div>
    {% else %}
        <p class="text text-center">Want to save, edit and download this simulation? <a class="link-success" href="{% url 'signupsave' simulation.id %}">Sign-up to gain access!</a></p>
    {% endif %}
    <hr class="hr-small">
</div>


<div id="runsimulation-div">
    {% include 'FIRE/partials/firetable.html' %}
</div>


{% endblock %}