{% extends 'FIRE/base.html' %}

{% block content %}

{% if simulations %}
<div class="container">
	{% if user.username|last == "s" or user.username|last == "S" %}
	<h1><b>{{ user.username }}'</b> Simulations</h1>
	{% else %}
	<h1><b>{{ user.username }}'s</b> Simulations</h1>
	{% endif %}

	<div>

		<hr class="rounded">

			<table class="table table-hover">
				<thead class="table-dark">
					<tr>
						<th style="text-align: center;">Name</th>
						<th style="text-align: center;">Date Created</th>
						<th style="text-align: center;">Retirement Age</th>
						<th style="text-align: center;">Net Worth</th>
						<th style="text-align: center;">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for simulation in simulations %}
					<tr>
						<td style="vertical-align: middle;">{{ simulation.name }}</td>
						<td style="vertical-align: middle;">{{ simulation.created_at|date:"D d M Y" }}</td>
						<td style="vertical-align: middle;">{{ simulation.estimated_retirement_age }}</td>
						<td style="vertical-align: middle;">{{ simulation.final_net_worth }}</td>
						<td>
							<ul class="list-group list-group-horizontal d-flex justify-content-center">

				        		<li class="list-group-item">		
	          						<form method="POST" action="{% url 'firesimulation' simulation.id %}">
	            					{% csrf_token %}
	              						<button type="submit" class="btn btn-success">Run</button>
	          						</form>
	          					</li>
								
								<li class="list-group-item">
					        	    <form action="{% url 'editsimulation' simulation.id %}">
	              						<button type="submit" class="btn btn-secondary">Edit</button>
	          						</form>
		          				</li>

								<li class="list-group-item">		
	          						<form method="POST" action="{% url 'deletesimulation' simulation.id %}">
									{% csrf_token %}
										<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteBackdrop">Delete</button>
										<div class="modal fade" id="deleteBackdrop" data-bs-backdrop="delete" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered">
												<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="staticBackdropLabel">{{ simulation.name }}</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													Are you sure you want to <b style="color:red">DELETE</b> this simulation?
												</div>
												<div class="modal-footer">
													<button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
												</div>
												</div>
											</div>
										</div>
                					</form>
	          					</li>

	          				</ul>
						</td>	
					</tr>
					{% endfor %}
				</tbody>
			</table>
	    
	    {% else %}

	        <div class="text-center">
	            <h2>Looks like you don't have any simulations!</h2>
	        	<br>
	        	<a role="button" class="btn btn-outline-success" href="{% url 'newsimulation' %}">New Simulation</a>
	        </div>
	{% endif %}
	</div>

{% endblock %}