<div id="variablecost-adjustment" class="row justify-content-start">
    <div class="col-lg-1 align-self-center">
        <button type="button" class="btn btn-sm btn-danger mb-1" hx-delete hx-target="#variablecost-adjustment" hx-swap="delete"><i class="bi bi-x-circle-fill"></i></button>
    </div>
    <div class="col-lg-4">
        <h6 class="fw-bold">Name</h6>
        <div class="form-floating mb-1">
            <input type="text" class="form-control" id="variable_cost_adjustment_names" name="variable_cost_adjustment_names" value="My Variable Cost Adjustment" required>
            <label for="variable_cost_adjustment_names">Name</label>
            <div id="variable_cost_adjustment_namesHelp" class="form-text"><small>Provide a name for this adjustment.</small></i></div>
        </div>
    </div>
    <div class="col-lg-4">
        <h6 class="fw-bold">Amount</h6>
        <div class="input-group">
            <div class="form-floating">
                <input type="number" class="form-control" id="estimated_variable_cost_adjustments" name="estimated_variable_cost_adjustments" min="-99.9" max="99.9" value="10.0" step=".1" required>
                <label for="estimated_variable_cost_adjustments">Adjustment</label>
           </div>
           <span class="input-group-text">%</span>
        </div>
        <div id="estimated_variable_cost_adjustmentsHelp" class="form-text mb-1"><small>How much will your variable costs increase on top of inflation?</small></div>
    </div>
    <div class="col-lg-3">
        <h6 class="fw-bold">Age</h6>
        <div class="input-group">
            <div class="form-floating">
                <input type="number" class="form-control" max="{{ max_age }}" min="{{ min_age }}" step="1" id="estimated_variable_cost_adjustment_ages" name="estimated_variable_cost_adjustment_ages" value="{{ max_age }}" required>
                <label for="estimated_variable_cost_adjustment_ages">Age</label>
            </div>
            <span class="input-group-text">years old</span>
        </div>
        <div id="estimated_variable_cost_adjustment_agesHelp" class="form-text"><small>What age will this adjustment occur?</small></div>
    </div>
    <hr class="hr-small">
</div>