{% if user.is_authenticated %}
<style>

</style>
{% else %}
<style>
    input {
        pointer-events:none;
    }
</style>
{% endif %}
<form>
    <div class="row g-4 mb-3 sticky-top">
        <div class="col-lg-3 text-center">
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-person-circle"></i> Personal Info</button>
        </div>
        <div class="col-lg-3 text-center">
            <button class="btn btn-success"><i class="bi bi-cash-stack"></i> Income</button>
        </div>
        <div class="col-lg-3 text-center">
            <button class="btn btn-danger"><i class="bi bi-receipt"></i> Expenses</button>
        </div>
        <div class="col-lg-3 text-center">
            <button class="btn btn-secondary"><i class="bi bi-piggy-bank"></i> Savings</button>
        </div>
    </div>
<div class="modal fade modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
    <div class="mb-3">
        {% if error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ error }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
        {% endfor %}
        {% endif %}   
    </div>
    <div class="row mb-3">
        <div class="col-lg-6">
            <canvas id="NetWorthChart" data-ages='{{ ages|safe }}' data-net-worths='{{ net_worths|safe }}' data-magic-numbers='{{ magic_numbers|safe }}'></canvas>
        </div>
        <div class="col-lg-6">
            <canvas id="YearlyBreakdownChart" data-ages='{{ ages|safe }}' data-income='{{ total_income|safe }}' data-expenses='{{ total_expenses|safe }}' data-savings='{{ savings|safe }}'></canvas>
        </div>
    </div>
    {% if user.is_authenticated %}
        <div class="mb-3 text-center">
            <button type="submit" class="btn btn-primary" hx-post="{% url 'runsimulation' simulation.id %}" hx-target="#runsimulation-div" hx-swap="innerHTML">Update!</button>
        </div>
    {% endif %}
    <button type="submit" class="btn btn-sm" hx-post="{% url 'runsimulation' simulation.id %}" hx-target="#runsimulation-div" hx-swap="innerHTML">
    {% if toggle %}
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="tableDetailedViewSwitch" name="tableDetailedViewSwitch" checked>
        <label class="form-check-label" for="tableDetailedViewSwitch">Table Detailed View</label>
    </div>
    {% else %}
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" name="tableDetailedViewSwitch" id="tableDetailedViewSwitch">
        <label class="form-check-label" for="tableDetailedViewSwitch">Table Detailed View</label>
    </div>
    {% endif %}
    </button>
    <div class="container tbl-container">
        <div class="row tbl-fixed">
            <table class="table table-striped table-hover table-condensed">
                <thead>
                    {% if toggle %}
                    <tr class="fourth">
                        <th class="th-sections-personal" colspan="1">PERSONAL</th>
                        <th class="th-sections-personal" colspan="1">INFO</th>
                        <th class="th-sections-income" colspan="4">INCOMES</th>
                        <th class="th-sections-expenses" colspan="5">EXPENSES</th>
                        <th class="th-sections-special" colspan="1">SAVINGS</th>
                        <th class="th-sections-savings" colspan="4">HEALTH SAVINGS ACCOUNT (HSA)</th>
                        <th class="th-sections-savings" colspan="5">EMPLOYER SPONSORED RETIREMENT PLAN</th>
                        <th class="th-sections-savings" colspan="4">INDIVIDUAL RETIREMENT ACCOUNT (IRA)</th>
                        <th class="th-sections-savings" colspan="3">TAXABLE BROKERAGE ACCOUNT (TBA)</th>
                        <th class="th-sections-savings" colspan="1">ASSETS</th>
                        <th class="th-sections-special" colspan="3">FIRE INDICATORS</th>
                    </tr>

                    <tr class="third">
                        <th class="th-input-headers-personal" colspan="1">RETIREMENT AGE</th>
                        <th class="th-input-headers-personal" colspan="1">COAST FIRE AGE</th>
                        <th class="th-input-headers-income" colspan="1">SALARY GROWTH</th>
                        <th class="th-input-headers-income" colspan="1">BONUS PERCENTAGE</th>
                        <th class="th-input-headers-income" colspan="1">OTHER INCOME</th>
                        <th class="th-input-headers-income" colspan="1">OTHER INCOME GROWTH</th>
                        <th class="th-input-headers-expenses" colspan="1">FIXED COSTS INFLATION</th>
                        <th class="th-input-headers-expenses" colspan="1">VARIABLE COSTS INFLATION</th>
                        <th class="th-input-headers-expenses" colspan="1">HEALTH INSURANCE INFLATION</th>
                        <th class="th-input-headers-expenses" colspan="1">TAX RATE</th>
                        <th class="th-input-headers-expenses" colspan="1">TAX RATE INCREASE</th>
                        <th class="th-input-headers-special" colspan="1">LOGIC</th>
                        <th class="th-input-headers-savings" colspan="1">CURRENT BALANCE</th>
                        <th class="th-input-headers-savings" colspan="1">CONTRIBUTION LIMIT</th>
                        <th class="th-input-headers-savings" colspan="1">YEARLY LIMIT INCREASE</th>
                        <th class="th-input-headers-savings" colspan="1">GROWTH RATE</th>
                        <th class="th-input-headers-savings" colspan="1">CURRENT BALANCE</th>
                        <th class="th-input-headers-savings" colspan="1">CONTRIBUTION LIMIT</th>
                        <th class="th-input-headers-savings" colspan="1">YEARLY LIMIT INCREASE</th>
                        <th class="th-input-headers-savings" colspan="1">EMPLOYER MATCH</th>
                        <th class="th-input-headers-savings" colspan="1">GROWTH RATE</th>
                        <th class="th-input-headers-savings" colspan="1">CURRENT BALANCE</th>
                        <th class="th-input-headers-savings" colspan="1">CONTRIBUTION LIMIT</th>
                        <th class="th-input-headers-savings" colspan="1">YEARLY LIMIT INCREASE</th>
                        <th class="th-input-headers-savings" colspan="1">GROWTH RATE</th>
                        <th class="th-input-headers-savings" colspan="1">CURRENT BALANCE</th>
                        <th class="th-input-headers-savings" colspan="1">GROWTH RATE</th>
                        <th class="th-input-headers-savings" colspan="1">-</th>
                        <th class="th-input-headers-savings" colspan="1">-</th>
                        <th class="th-input-headers-special" colspan="3">LOGIC</th>
                    </tr>

                    <tr class="second">
                        <th class="th-input-values" colspan="1">
                            <div class="input-group mb-1">
                                <input type="number" class="form-control" id="estimated_retirement_age" name="estimated_retirement_age" min="{{ simulation.current_age }}" max="101" value="{{ simulation.estimated_retirement_age }}" required>
                            </div>
                        </th>
                        <th class="th-input-values" colspan="1">
                            <div class="input-group mb-1">
                                <input type="number" class="form-control" id="estimated_coastfire_age" name="estimated_coastfire_age" min="{{ simulation.current_age }}" max="{{ simulation.estimated_retirement_age }}" value="{{ simulation.estimated_coastfire_age }}">
                            </div>
                        </th>
                        <th class="th-input-values" colspan="1">
                            <div class="input-group mb-1">
                                <input type="number" class="form-control" id="estimated_salary_raise" name="estimated_salary_raise" min="0" max="99.9" value="{{ simulation.estimated_salary_raise }}" step=".1" required>
                                <span class="input-group-text">%</span>
                            </div>
                        </th>
                        <th class="th-input-values" colspan="1">
                            <div class="input-group mb-1">
                                <input type="number" class="form-control" id="estimated_bonus" name="estimated_bonus" min="0" max="99.9" value="{{ simulation.estimated_bonus }}" step=".1" required>
                                <span class="input-group-text">%</span>
                            </div>
                        </th>
                        <th class="th-input-values" colspan="1">
                            <div class="input-group mb-1">
                                <span class="input-group-text">$</span>
                                <input type="number" class="form-control" id="current_yearly_other_income" name="current_yearly_other_income" min="0" max="10000000" value="{{ simulation.current_yearly_other_income }}" step="1" required>
                            </div>
                        </th>
                        <th class="th-input-values" colspan="1">
                            <div class="input-group mb-1">
                                <input type="number" class="form-control" id="estimated_other_income_increase" name="estimated_other_income_increase" min="0" max="99.9" value="{{ simulation.estimated_other_income_increase }}" step=".1" required>
                                <span class="input-group-text">%</span>
                            </div>
                        </th>
                        <th class="th-input-values" colspan="1">
                            <div class="input-group mb-1">
                                <input type="number" class="form-control" id="estimated_fixed_costs_inflation" name="estimated_fixed_costs_inflation" min="0" max="99.9" value="{{ simulation.estimated_fixed_costs_inflation }}" step=".1" required>
                                <span class="input-group-text">%</span>
                            </div>
                        </th>
                        <th class="th-input-values" colspan="1">
                            <div class="input-group mb-1">
                                <input type="number" class="form-control" id="estimated_variable_costs_inflation" name="estimated_variable_costs_inflation" min="0" max="99.9" value="{{ simulation.estimated_variable_costs_inflation }}" step=".1" required>
                                <span class="input-group-text">%</span>
                            </div>
                        </th>
                        <th class="th-input-values" colspan="1">
                            <div class="input-group mb-1">
                                <input type="number" class="form-control" id="estimated_health_insurance_inflation" name="estimated_health_insurance_inflation" min="0" max="99.9" value="{{ simulation.estimated_health_insurance_inflation }}" step=".1" required>
                                <span class="input-group-text">%</span>
                            </div>
                        </th>
                        <th class="th-input-values" colspan="1">
                            <div class="input-group mb-1">
                                <input type="number" class="form-control" id="estimated_tax_rate" name="estimated_tax_rate" min="0" max="99.9" value="{{ simulation.estimated_tax_rate }}" step=".1" required>
                                <span class="input-group-text">%</span>
                            </div>
                        </th>
                        <th class="th-input-values" colspan="1">
                            <div class="input-group mb-1">
                                <input type="number" class="form-control" id="estimated_tax_rate_step" name="estimated_tax_rate_step" min="0" max="99.9" value="{{ simulation.estimated_tax_rate_step }}" step=".1" required>
                                <span class="input-group-text">%</span>
                            </div>
                        </th>
                        <th class="th-input-values" colspan="1">
                            <i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-placement="top" title="Savings here refers to the amount of money left over after income minus expenses and taxes. This money is then allocated to your various savings accounts based on your contribution settings in the simulation setup."></i>
                        </th>
                        <th class="th-input-values" colspan="1">
                            <div class="input-group mb-1">
                                <span class="input-group-text">$</span>
                                <input type="number" class="form-control" id="current_hsa_balance" name="current_hsa_balance" min="0" max="10000000" value="{{ simulation.current_hsa_balance }}" step="1" required>
                            </div>
                        </th>
                        <th class="th-input-values" colspan="1">
                            <div class="input-group mb-1">
                                <span class="input-group-text">$</span>
                                <input type="number" class="form-control" id="current_hsa_yearly_contribution_limit" name="current_hsa_yearly_contribution_limit" min="0" max="100000" value="{{ simulation.current_hsa_yearly_contribution_limit }}" step="1" required>
                            </div>
                        </th>
                        <th class="th-input-values" colspan="1">
                            <div class="input-group mb-1">
                                <span class="input-group-text">$</span>
                                <input type="number" class="form-control" id="estimated_hsa_yearly_contribution_limit_step" name="estimated_hsa_yearly_contribution_limit_step" min="0" max="10000" value="{{ simulation.estimated_hsa_yearly_contribution_limit_step }}" step="1" required>
                            </div>
                        </th>
                        <th class="th-input-values" colspan="1">
                            <div class="input-group mb-1">
                                <input type="number" class="form-control" id="esitmated_hsa_yearly_return" name="esitmated_hsa_yearly_return" min="0" max="99.9" value="{{ simulation.esitmated_hsa_yearly_return }}" step=".1" required>
                                <span class="input-group-text">%</span>
                            </div>
                        </th>
                        <th class="th-input-values" colspan="1">
                            <div class="input-group mb-1">
                                <span class="input-group-text">$</span>
                                <input type="number" class="form-control" id="current_401k_balance" name="current_401k_balance" min="0" max="10000000" value="{{ simulation.current_401k_balance }}" step="1" required>
                            </div>
                        </th>
                        <th class="th-input-values" colspan="1">
                            <div class="input-group mb-1">
                                <span class="input-group-text">$</span>
                                <input type="number" class="form-control" id="current_401k_yearly_contribution_limit" name="current_401k_yearly_contribution_limit" min="0" max="100000" value="{{ simulation.current_401k_yearly_contribution_limit }}" step="1" required>
                            </div>
                        </th>
                        <th class="th-input-values" colspan="1">
                            <div class="input-group mb-1">
                                <span class="input-group-text">$</span>
                                <input type="number" class="form-control" id="estimated_401k_yearly_contribution_limit_step" name="estimated_401k_yearly_contribution_limit_step" min="0" max="10000" value="{{ simulation.estimated_401k_yearly_contribution_limit_step }}" step="1" required>
                            </div>
                        </th>
                        <th class="th-input-values" colspan="1">
                            <div class="input-group mb-1">
                                <input type="number" class="form-control" id="current_401k_employer_contribution" name="current_401k_employer_contribution" min="0" max="99.9" value="{{ simulation.current_401k_employer_contribution }}" step=".1" required>
                                <span class="input-group-text">%</span>
                            </div>
                        </th>
                        <th class="th-input-values" colspan="1">
                            <div class="input-group mb-1">
                                <input type="number" class="form-control" id="esitmated_401k_yearly_return" name="esitmated_401k_yearly_return" min="0" max="99.9" value="{{ simulation.esitmated_401k_yearly_return }}" step=".1" required>
                                <span class="input-group-text">%</span>
                            </div>
                        </th>
                        <th class="th-input-values" colspan="1">
                            <div class="input-group mb-1">
                                <span class="input-group-text">$</span>
                                <input type="number" class="form-control" id="current_ira_balance" name="current_ira_balance" min="0" max="10000000" value="{{ simulation.current_ira_balance }}" step="1" required>
                            </div>
                        </th>
                        <th class="th-input-values" colspan="1">
                            <div class="input-group mb-1">
                                <span class="input-group-text">$</span>
                                <input type="number" class="form-control" id="current_ira_yearly_contribution_limit" name="current_ira_yearly_contribution_limit" min="0" max="100000" value="{{ simulation.current_ira_yearly_contribution_limit }}" step="1" required>
                            </div>
                        </th>
                        <th class="th-input-values" colspan="1">
                            <div class="input-group mb-1">
                                <span class="input-group-text">$</span>
                                <input type="number" class="form-control" id="estimated_ira_yearly_contribution_limit_step" name="estimated_ira_yearly_contribution_limit_step" min="0" max="10000" value="{{ simulation.estimated_ira_yearly_contribution_limit_step }}" step="1" required>
                            </div>
                        </th>
                        <th class="th-input-values" colspan="1">
                            <div class="input-group mb-1">
                                <input type="number" class="form-control" id="esitmated_ira_yearly_return" name="esitmated_ira_yearly_return" min="0" max="99.9" value="{{ simulation.esitmated_ira_yearly_return }}" step=".1" required>
                                <span class="input-group-text">%</span>
                            </div>
                        </th>
                        <th class="th-input-values" colspan="1">
                            <div class="input-group mb-1">
                                <span class="input-group-text">$</span>
                                <input type="number" class="form-control" id="current_iba_balance" name="current_iba_balance" min="0" max="10000000" value="{{ simulation.current_iba_balance }}" step="1" required>
                            </div>
                        </th>
                        <th class="th-input-values" colspan="1">
                            <div class="input-group mb-1">
                                <input type="number" class="form-control" id="esitmated_iba_yearly_return" name="esitmated_iba_yearly_return" min="0" max="99.9" value="{{ simulation.esitmated_iba_yearly_return }}" step=".1" required>
                                <span class="input-group-text">%</span>
                            </div>
                        <th class="th-input-values" colspan="1">-</th>
                        <th class="th-input-values" colspan="1">-</th>
                        <th class="th-input-values" colspan="3">
                            <i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-placement="top" title="FIRE INDICATORS TOOLTIP"></i>
                        </th>
                    </tr>
                    <tr class="first">
                    {% else %}
                    <tr>
                    {% endif %}
                        <th class="th-headers th-personal">AGE</th>
                        <th class="th-headers th-personal">YEAR</th>
                        <th class="th-headers th-income">SALARY</th>
                        <th class="th-headers th-income">BONUS</th>
                        <th class="th-headers th-income">OTHER INCOME</th>
                        <th class="th-headers th-income">LUMP SUM INCOME <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#lumpsumincome-Modal"><i class="bi bi-plus-circle-fill"></i></button></th>
                        <th class="th-headers th-expenses">FIXED COSTS <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-plus-circle-fill"></i></button></th>
                        <th class="th-headers th-expenses">VARIABLE COSTS <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-plus-circle-fill"></i></button></th>
                        <th class="th-headers th-expenses">HEALTH INSURANCE</th>
                        <th class="th-headers th-expenses">LUMP SUM EXPENSE <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-plus-circle-fill"></i></button></th>
                        <th class="th-headers th-expenses">TAXES</th>
                        <th class="th-headers th-special">SAVINGS</th>
                        <th class="th-headers th-savings-light">HSA START</th>
                        <th class="th-headers th-savings-light">HSA CONTRIBUTION LIMIT</th>
                        <th class="th-headers th-savings-light">HSA CONTRIBUTION</th>
                        <th class="th-headers th-savings">HSA END</th>
                        <th class="th-headers th-savings-light">RETIREMENT PLAN START</th>
                        <th class="th-headers th-savings-light">RETIREMENT PLAN CONTRIBUTION LIMIT</th>
                        <th class="th-headers th-savings-light">RETIREMENT PLAN CONTRIBUTION</th>
                        <th class="th-headers th-savings-light">RETIREMENT PLAN EMPLOYER CONTRIBUTION</th>
                        <th class="th-headers th-savings">RETIREMENT PLAN END</th>
                        <th class="th-headers th-savings-light">IRA START</th>
                        <th class="th-headers th-savings-light">IRA CONTRIBUTION LIMIT</th>
                        <th class="th-headers th-savings-light">IRA CONTRIBUTION</th>
                        <th class="th-headers th-savings">IRA END</th>
                        <th class="th-headers th-savings-light">TBA START</th>
                        <th class="th-headers th-savings-light">TBA CONTRIBUTION</th>
                        <th class="th-headers th-savings">TBA END</th>
                        <th class="th-headers th-savings">TOTAL ASSETS VALUE <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#assets-Modal"><i class="bi bi-plus-circle-fill"></i></button></th>
                        <th class="th-headers th-special">NET WORTH</th>
                        <th class="th-headers th-special">MAGIC NUMBER</th>
                        <th class="th-headers th-special">DRAWDOWN %</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                    <tr>
                        <td class="sticky-col sticky-col-1">{{ d.age }}</td>
                        <td class="sticky-col sticky-col-2">{{ d.year }}</td>
                        <td >{{ d.salary }}</td>
                        <td >{{ d.bonus }}</td>
                        <td >{{ d.other_income }}</td>
                        <td >{{ d.lump_sum_income }}</td>
                        <td >{{ d.fixed_cost }}</td>
                        <td >{{ d.variable_cost }}</td>
                        <td >{{ d.health_insurance }}</td>
                        <td >{{ d.lump_sum_expense }}</td>
                        <td >{{ d.tax }}</td>
                        <td >{{ d.saving }}</td>
                        <td >{{ d.hsa_start }}</td>
                        <td >{{ d.hsa_cont_limit }}</td>
                        <td >{{ d.hsa_contribution }}</td>
                        <td >{{ d.hsa_end }}</td>
                        <td >{{ d.retirement_start }}</td>
                        <td >{{ d.retirement_cont_limit }}</td>
                        <td >{{ d.retirement_contribution }}</td>
                        <td >{{ d.employer_retirement_contribution }}</td>
                        <td >{{ d.retirement_end }}</td>
                        <td >{{ d.ira_start }}</td>
                        <td >{{ d.ira_cont_limit }}</td>
                        <td >{{ d.ira_contribution }}</td>
                        <td >{{ d.ira_end }}</td>
                        <td >{{ d.iba_start }}</td>
                        <td >{{ d.iba_contribution }}</td>
                        <td >{{ d.iba_end }}</td>
                        <td >{{ d.asset_value }}</td>
                        <td >{{ d.net_worth }}</td>
                        <td >{{ d.magic_number }}</td>
                        <td >{{ d.drawdown }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal modal-lg" id="lumpsumincome-Modal" tabindex="-1" aria-labelledby="lumpsumincome-ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Lump Sum Payments</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="lumpsumincome-div">
                        {% if simulation.estimated_lumpsum_income_amounts %}
                        {% for name, age, amount in lump_sum_incomes %}
                        <div id="lumpsumincome-entry" class="row justify-content-start">
                            <div class="col-lg-1 align-self-center">
                                <button type="button" class="btn btn-sm btn-danger mb-1" hx-delete hx-target="#lumpsumincome-entry" hx-swap="delete"><i class="bi bi-x-circle-fill"></i></button>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fw-bold">Name</h6>
                                <div class="form-floating mb-1">
                                    <input type="text" class="form-control" id="lumpsum_income_names" name="lumpsum_income_names" value="{{ name }}" required>
                                    <label for="lumpsum_income_names">Name</label>
                                    <div id="lumpsum_income_namesHelp" class="form-text"><small>Provide a name for this income.</small></i></div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <h6 class="fw-bold">Amount</h6>
                                <div class="input-group">
                                    <span class="input-group-text">$</span>
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="estimated_lumpsum_income_amounts" name="estimated_lumpsum_income_amounts" min="0" max="10000000" value="{{ amount }}" required>
                                        <label for="estimated_lumpsum_income_amounts">Amount</label>
                                    </div>
                                </div>
                                <div id="estimated_lumpsum_income_amountsHelp" class="form-text mb-1"><small>How much will this lump sum income be?</small></i></div>
                            </div>
                            <div class="col-lg-4">
                                <h6 class="fw-bold">Age</h6>
                                <div class="">
                                    <input type="range" class="form-range slider" max="{{ max_age }}" min="{{ min_age }}" step="1" id="estimated_lumpsum_income_ages" name="estimated_lumpsum_income_ages" value="{{ age }}">
                                    <output for="rangeValue" id="rangeValue" aria-hidden="true"></output>
                                </div>
                                <div id="estimated_lumpsum_income_agesHelp" class="form-text"><small>What age will you recieve this lump sum income?</small></div>
                            </div>
                            <hr class="hr-small">
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary bt-sm" hx-get="{% url 'create-lumpsum-income' %}" hx-target="#lumpsumincome-div" hx-vals="js:{max_age: document.getElementById('estimated_retirement_age').value, min_age: {{ simulation.current_age }}}" hx-swap="beforeend"><i class="bi bi-plus-circle-fill"></i> Add Lump Sum</button>
                        <p class="form-text"><small><i>*One entry per year before retirement age</i></small></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success" data-bs-dismiss="modal" hx-post="{% url 'runsimulation' simulation.id %}" hx-target="#runsimulation-div" hx-swap="innerHTML">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal-lg" id="assets-Modal" tabindex="-1" aria-labelledby="assets-ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Lump Sum Payments</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="assets-div">
                        {% if simulation.current_asset_values %}
                        {% for name, value, growth in assets %}
                        <div id="asset-entry" class="row justify-content-start">
                            <div class="col-lg-1 align-self-center">
                                <button type="button" class="btn btn-sm btn-danger mb-1" hx-delete hx-target="#asset-entry" hx-swap="delete"><i class="bi bi-x-circle-fill"></i></button>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fw-bold">Name</h6>
                                <div class="form-floating mb-1">
                                    <input type="text" class="form-control" id="asset_names" name="asset_names" value="{{ name }}" required>
                                    <label for="asset_names">Name</label>
                                    <div id="asset_namesHelp" class="form-text"><small>Provide a name for this asset.</small></i></div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <h6 class="fw-bold">Value</h6>
                                <div class="input-group">
                                    <span class="input-group-text">$</span>
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="current_asset_values" name="current_asset_values" min="0" max="10000000" value="{{ value }}" required>
                                        <label for="current_asset_values">Value</label>
                                    </div>
                                </div>
                                <div id="estimated_lumpsum_income_amountsHelp" class="form-text mb-1"><small>How much will this lump sum income be?</small></i></div>
                            </div>
                            <div class="col-lg-4">
                                <h6 class="fw-bold">Growth</h6>
                                <div class="input-group">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="estimated_asset_value_growths" name="estimated_asset_value_growths" min="0" max="99.9" value="{{ growth }}" step=".1" required>
                                        <label for="estimated_asset_value_growths">Estimated Growth (%)</label>
                                    </div>
                                    <span class="input-group-text">%</span>
                                </div>
                                <div id="estimated_asset_value_growthsHelp" class="form-text mb-1"><small>On average, how much do you anticipate this asset's value to grow each year?</small></div>
                            </div>
                            <hr class="hr-small">
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary bt-sm" hx-get="{% url 'create-asset' %}" hx-target="#assets-div" hx-swap="beforeend"><i class="bi bi-plus-circle-fill"></i> Add Asset</button>
                        <p class="form-text"><small><i>*One entry per year before retirement age</i></small></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success" data-bs-dismiss="modal" hx-post="{% url 'runsimulation' simulation.id %}" hx-target="#runsimulation-div" hx-swap="innerHTML">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        (function() {
            const ctx = document.getElementById('YearlyBreakdownChart').getContext('2d');
            const ages = JSON.parse(document.getElementById('YearlyBreakdownChart').dataset.ages);
            const income = JSON.parse(document.getElementById('YearlyBreakdownChart').dataset.income);
            const expenses = JSON.parse(document.getElementById('YearlyBreakdownChart').dataset.expenses);
            const savings = JSON.parse(document.getElementById('YearlyBreakdownChart').dataset.savings);

            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ages,
                    datasets: [
                        {
                            label: 'Income',
                            data: income,
                            backgroundColor: 'rgb(80, 167, 114, 0.8)',
                            stack: 'Stack 0'
                        },
                        {
                            label: 'Expenses',
                            data: expenses,
                            backgroundColor: 'rgb(175, 61, 35, 0.8)',
                            stack: 'Stack 0'
                        },
                        {
                            label: 'Savings',
                            data: savings,
                            backgroundColor: 'rgb(60, 67, 121, 0.8)',
                            stack: 'Stack 0'
                        }
                    ]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: { position: 'top' },
                        title: { display: true, text: 'Income, Expenses, and Savings Breakdown by Year' },
                        tooltip: {
                            callbacks: {
                                label: function(context) {
                                    let label = context.dataset.label || '';
                                    if (label) label += ': ';
                                    if (context.parsed.y !== null) {
                                    label += '$' + context.parsed.y.toLocaleString();
                                    }
                                    return label;
                                }
                            }
                        }
                    },
                    scales: {
                        x: { stacked: true, title: { display: true, text: 'Age' } },
                        y: { 
                            stacked: true, 
                            title: { 
                                display: true, 
                                text: 'Amount ($)' 
                            },
                            ticks: {
                                callback: function(value) {
                                    return '$' + value.toLocaleString();
                                }
                            },
                        }
                    }
                }
            });
        })();
    </script>
</form>

