<div id="lumpsum-entry" class="row justify-content-start" >
    <div class="col-5">
        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="estimated_lumpsum_payment_amounts" name="estimated_lumpsum_payment_amounts" min="0" max="10000000" value="10000" required>
            <label for="estimated_lumpsum_payment_amounts">Lump Sum Amount ($)</label>
            <div id="estimated_lumpsum_payment_amountsHelp" class="form-text">Do you anticipate any large one-time payments?</i></div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="estimated_lumpsum_payment_ages" name="estimated_lumpsum_payment_ages" min="1" max="101" value="30" step="1" required>
            <label for="estimated_lumpsum_payment_ages">Lump Sum Payment Age</label>
            <div id="estimated_lumpsum_payment_agesHelp" class="form-text">What age do you anticipate to recieve this one-time payment?</div>
        </div>
    </div>
    <div class="col-1">
        <button type="button" class="btn btn-danger" hx-delete hx-target="#lumpsum-entry" hx-swap="delete">-</button>
    </div>
    <hr>

</div>