<div id="lumpsumincome-entry" class="row justify-content-start">
    <div class="col-5">
        <div class="form-floating mb-1">
            <input type="number" class="form-control" id="estimated_lumpsum_payment_amounts" name="estimated_lumpsum_payment_amounts" min="0" max="10000000" value="10000" required>
            <label for="estimated_lumpsum_payment_amounts">Amount ($)</label>
            <div id="estimated_lumpsum_payment_amountsHelp" class="form-text"><small>How much will this lump sum payment be?</small></i></div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-1">
            <input type="number" class="form-control" id="estimated_lumpsum_payment_ages" name="estimated_lumpsum_payment_ages" min="{{ min_age }}" max="{{ max_age }}" value="30" step="1" required>
            <label for="estimated_lumpsum_payment_ages">Age</label>
            <div id="estimated_lumpsum_payment_agesHelp" class="form-text"><small>What age will you recieve this lump sum payment?</small></div>
        </div>
    </div>
    <div class="col-1 align-self-center">
        <button type="button" class="btn btn-danger" hx-delete hx-target="#lumpsumincome-entry" hx-swap="delete">-</button>
    </div>
    <hr>

</div>