<style>
    table {
        border-collapse: collapse;
        position: relative;
    }
    
    .tbl-container
    {
        max-width: fit-content;
        max-height: fit-content;
    }
    .tbl-fixed
    {
        overflow-x: scroll;
        overflow-y: scroll;
        height: fit-content;
        max-height: 400px;
    }
    th, td
    {
        font-size: 100%;
        padding: 12px !important;
    }
    th {
        white-space: nowrap;
    }
    .header{
        position:sticky;
        top: 0;
    }
</style>

<div class="expense-entry">
    <div class="accordion">
        <div class="accordion-expense">
            <h2 class="accordion-header">
                <button class="accordion-button accordion-button-expenses expense_name_header" type="button" data-bs-toggle="collapse" data-bs-target="#expense-entry-{{ entry_count }}" aria-expanded="true" aria-controls="expense-entry-{{ entry_count }}">
                    My Expense
                </button>
            </h2>
            <div id="expense-entry-{{ entry_count }}" class="accordion-collapse collapse show">
                <div class="accordion-body accordion-expenses-body">
                    {% if user.is_authenticated %}
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- expense FIELDS ROW-->
                            <div class="row g-4 mb-3">
                                <div class="col-lg-6">
                                    <h5 class="input-name">Expense Name</h5>              
                                    <input type="text" class="form-control input-field expense_name" name="expense_name" value="My Expense" required>
                                    <div class="form-text text-danger form-error-text expense-name-error"><small> Please provide a name for this expense.</small></div>
                                </div>
                                <div class="col-lg-6">
                                    <h5 class="input-name">Category</h5>              
                                    <select class="form-select input-select expense_category" name="expense_category" hx-get="{% url 'expense-fields' %}" hx-target="next .expense-fields" hx-trigger="change" hx-swap="innerHTML" hx-vals="js:{max_age: document.getElementById('retirement_age').value, min_age: document.getElementById('current_age').value, recurring_expense_count: document.querySelectorAll('.expense-recurring-entry').length, one_time_expense_count: document.querySelectorAll('.expense-one-time-entry').length}">
                                        <option value=None>--> Select a category <--</option>
                                        <option value="Recurring">Recurring</option>
                                        <option value="One-time">One-time</option>
                                    </select>
                                    <div class="form-text text-danger form-error-text expense-category-error"><small> Please select a category.</small></div>
                                </div>
                            </div>
                            <div class="expense-fields">
                            </div>
                        </div>
                        <div class="col-lg-6 expense-table align-self-center">
                            
                        </div>
                    </div>
                    {% else %}
                    <div class="row g-4 mb-3">
                        <div class="col-lg-4">
                            <h5 class="input-name">Expense Name</h5>              
                            <input type="text" class="form-control input-field expense_name" name="expense_name" value="My Expense" required>
                            <div class="form-text text-danger form-error-text expense-name-error"><small> Please provide a name for this expense.</small></div>
                        </div>
                        <div class="col-lg-4">
                            <h5 class="input-name">Category</h5>              
                            <select class="form-select input-select expense_category" name="expense_category" hx-get="{% url 'expense-fields' %}" hx-target="next .expense-fields" hx-trigger="change" hx-swap="innerHTML" hx-vals="js:{max_age: document.getElementById('retirement_age').value, min_age: document.getElementById('current_age').value, recurring_expense_count: document.querySelectorAll('.expense-recurring-entry').length, one_time_expense_count: document.querySelectorAll('.expense-one-time-entry').length}">
                                <option value=None>--> Select a category <--</option>
                                <option value="Recurring">Recurring</option>
                                <option value="One-time">One-time</option>
                            </select>
                            <div class="form-text text-danger form-error-text expense-category-error"><small> Please select a category.</small></div>
                        </div>
                    </div>
                    <div class="expense-fields">
                    </div>
                    {% endif %}
                    <div class="text-end">
                        <button type="button" class="btn btn-sm btn-remove" hx-delete hx-target="closest .expense-entry" hx-swap="delete"><i class="bi bi-x"></i> Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>