<div id="hsa-inputs">
    <div class="row g-4">
        <div class="col-lg-6">
            <h5 class="fw-bold">Current Balance</h5>
            <div class="input-group">
                <span class="input-group-text">$</span>
                <div class="form-floating">
                    <input type="number" class="form-control" id="current_hsa_balance" name="current_hsa_balance" min="0" max="100000000" value="{{ current_hsa_balance }}" required>
                    <label for="current_hsa_balance">Current HSA Balance</label>
                </div>
            </div>
            <div id="current_hsa_balanceHelp" class="form-text mb-3">How much money is currently in your HSA(s)?</div>
        </div>
        <div class="col-lg-6">
            <h5 class="fw-bold">Estimated Yearly Return</h5>
            <div class="input-group">
                <div class="form-floating">
                    <input type="number" class="form-control" id="esitmated_hsa_yearly_return" name="esitmated_hsa_yearly_return" min="0" max="99.9" value="{{ esitmated_hsa_yearly_return }}" step=".1" required>
                    <label for="esitmated_hsa_yearly_return">Estimated HSA Yearly Return</label>
                </div>
                <span class="input-group-text">%</span>
            </div>
            <div id="esitmated_hsa_yearly_returnHelp" class="form-text mb-3">On average, how much do you expect your HSA investments to grow annually?</div>
        </div>
    </div>
    <div class="row g-4">
        <div class="col-lg-6">
            <h5 class="fw-bold">Contribution Limit</h5>
            <div class="input-group">
                <span class="input-group-text">$</span>
                <div class="form-floating">
                    <input type="number" class="form-control" id="current_hsa_yearly_contribution_limit" name="current_hsa_yearly_contribution_limit" min="1" max="100000000" value="{{ current_hsa_yearly_contribution_limit }}" required>
                    <label for="current_hsa_yearly_contribution_limit">Current HSA Yearly Contribution Limit</label>
                </div>
            </div>
            <div id="current_hsa_yearly_contribution_limitHelp" class="form-text mb-3">The current contribution limit for a HSA is $4,300.</div>
        </div>
        <div class="col-lg-6">
            <h5 class="fw-bold">Future Contribution Limit</h5>
            <div class="input-group">
                <span class="input-group-text">$</span>
                <div class="form-floating">
                    <input type="number" class="form-control" id="estimated_hsa_yearly_contribution_limit_step" name="estimated_hsa_yearly_contribution_limit_step" min="0" max="10000" value="{{ estimated_hsa_yearly_contribution_limit_step }}" step="1" required>
                    <label for="hsa_yearly_contribution_limit_step">Estimated HSA Yearly Contribution Limit Increase</label>
                </div>
            </div>
            <div id="hsa_yearly_contribution_limit_stepHelp" class="form-text mb-3">On average, how much do you expect the HSA contribution limit to increase each year?</div>
        </div>
    </div>
</div>
