<!-- SAVINGS FIELDS ROW -->
<div class="row g-4 mb-3">
    <div class="col-lg-3">
        <h5 class="input-name">Current Net Worth</h5>   
        <div class="input-group">
            <span class="input-group-text">$</span>             
            <input type="number" class="form-control input-field" name="simple_net_worth" min="1" max="10000000" value="50000" required>
        </div>
    </div>
    <div class="col-lg-3">
        <h5 class="input-name">Yearly Growth</h5>   
        <div class="input-group">           
            <input type="number" class="form-control input-field" name="simple_yearly_growth" min="0" max="99.9" value="5.0" step="0.1" required>
            <span class="input-group-text">%</span>  
        </div>
    </div>
</div>