<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
<script>
document.body.addEventListener('htmx:afterRequest', function () {
    const list = document.getElementById('saving-div');

    const sortable = new Sortable(list, {
        animation: 150,
        handle: '.accordion-header', // users drag the header
        ghostClass: 'bg-light',
        onEnd: function (evt) {
            const newOrder = Array.from(list.children).map(item => item.dataset.id);
        }
    });
});
</script>

<!-- Savings Entries -->
<div id="saving-div">
    {% for account in FIplan.accounts|slice:"1:" %}
        <div class="saving-entry">
            <div class="accordion collapsed">
                <div class="accordion-saving">
                    <h2 class="accordion-header">
                        <button class="accordion-button accordion-button-savings saving_name_header collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#saving-entry-{{ forloop.counter0 }}" aria-expanded="true" aria-controls="saving-entry-{{ forloop.counter0 }}">
                            {{ account.saving_name }}
                        </button>
                    </h2>
                    <div id="saving-entry-{{ forloop.counter0 }}" class="accordion-collapse collapse">
                        <div class="accordion-body accordion-savings-body">
                            <div class="row g-4 mb-3">
                                <div class="col-lg-3">
                                    <h5 class="input-name">Account Name</h5>              
                                    <input type="text" class="form-control input-field saving_name" name="saving_name" value="{{ account.saving_name }}" required>
                                    <div class="form-text text-danger form-error-text saving-name-error"><small> Please provide a name for this account.</small></div>
                                </div>
                                <div class="col-lg-3">
                                    <h5 class="input-name">Category</h5>              
                                    <select class="form-select input-select saving_category" name="saving_category" hx-get="{% url 'saving-fields' %}" hx-target="next .saving-fields" hx-trigger="change" hx-swap="innerHTML" hx-vals="js:{max_age: document.getElementById('retirement_age').value, min_age: document.getElementById('current_age').value}">
                                        {% if account.saving_category == 'ESRP' %}
                                            <option value="ESRP">Employer Sponsored Retirement Account (401k/403b)</option>
                                        {% elif account.saving_category == 'HSA' %}
                                            <option value="HSA">Health Savings Account (HSA)</option>
                                        {% elif account.saving_category == 'IRA' %}
                                            <option value="IRA">Individual Retirement Account (IRA)</option>
                                        {% else %}
                                            <option value="TBA">Taxable Brokerage Account (TBA)</option>
                                        {% endif %}
                                    </select>
                                    <div class="form-text text-danger form-error-text saving-category-error"><small> Please select a category.</small></div>
                                </div>
                            </div>
                            <div class="saving-fields">
                                {% if account.saving_category == 'ESRP' %}
                                    {% include 'FIRE/partials/fields_savings_esrp_edit.html' with account=account %}
                                {% elif account.saving_category == 'HSA' %}
                                    {% include 'FIRE/partials/fields_savings_hsa_edit.html' with account=account %}
                                {% elif account.saving_category == 'IRA' %}
                                    {% include 'FIRE/partials/fields_savings_ira_edit.html' with account=account %}
                                {% else %}
                                    {% include 'FIRE/partials/fields_savings_tba_edit.html' with account=account %}
                                {% endif %}
                            </div>
                            <div class="text-end">
                                <button type="button" class="btn btn-sm btn-remove" hx-delete hx-target="closest .saving-entry" hx-swap="delete"><i class="bi bi-x"></i> Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    {% endfor %}
</div>
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-add" hx-get="{% url 'create-saving' %}" hx-target="#saving-div" hx-swap="beforeend" hx-vals="js:{entry_count: document.querySelectorAll('.saving-entry').length, esrp_count: document.querySelectorAll('.esrp-entry').length, hsa_count: document.querySelectorAll('.hsa-entry').length, ira_count: document.querySelectorAll('.ira-entry').length, tba_count: document.querySelectorAll('.tba-entry').length}"><i class="bi bi-plus"></i>  Account</button>
    </div>
    <div class="btn-group m-2 text-center" role="group">
        <button type="button" id="expand-savings-entries" class="btn btn-action-empty" onclick="savingsAccordionAction('Expand');"><i class="bi bi-arrows-expand"></i>  Expand All</button>
        <button type="button" id="collapse-savings-entries" class="btn btn-action-empty" onclick="savingsAccordionAction('Collapse');"><i class="bi bi-arrows-collapse"></i>  Collapse All</button>
    </div>
</div>