<script>
    function expenseInfoValidation() {
        const section = document.getElementById("expenses")
        if (section) {

            if (section.hidden == false) {

                // Define Variables from DOM
                const expense_entries = document.querySelectorAll('.expense-entry')
                const expensesButton = document.getElementById('savings-button')

                // Set initial stlye for button
                let disableButton = false

                // If no expense entries:
                if (expense_entries.length === 0) {

                    // Update button style to disabled
                    disableButton = true
                    expensesButton.disabled = disableButton;
                }

                // If there are expense entries:
                else {
                    let disableButton = false
                    const expense_name_headers = document.querySelectorAll('.expense_name_header')
                    const expense_names = document.querySelectorAll('.expense_name')
                    const expense_categories = document.querySelectorAll('.expense_category')
                    const expense_name_errors = document.querySelectorAll('.expense-name-error')
                    const expense_category_errors = document.querySelectorAll('.expense-category-error')
                    const expense_start_ages = document.querySelectorAll('.expense_start_age')
                    const expense_stop_ages = document.querySelectorAll('.expense_stop_age')
                    const expense_age_errors = document.querySelectorAll('.expense-age-error')
                    const expense_starting_amounts = document.querySelectorAll('.expense_starting_amount')
                    const expense_amount_errors = document.querySelectorAll('.expense-amount-error')
                    const expense_rates = document.querySelectorAll('.expense_rate')
                    const expense_rate_errors = document.querySelectorAll('.expense-rate-error')

                    expense_names.forEach(function (name, i) {
                        expense_name_errors[i].style.display = 'none'
                        expense_name_headers[i].textContent = name.value
                        if (name.value == '') {
                            // Update display style to disabled/block
                            disableButton = true
                            expense_name_errors[i].style.display='block'
                        }
                    });

                    expense_categories.forEach(function (category, i) {
                        expense_category_errors[i].style.display = 'none'
                        if (category.value == 'None') {
                            // Update display style to disabled/block
                            disableButton = true
                            expense_category_errors[i].style.display='block'
                        }
                    });

                    expense_start_ages.forEach(function (age, i) {
                        expense_age_errors[i].style.display = 'none'
                        if (age.value == "Current Age") {
                            if (expense_stop_ages[i].value == "Current Age") {
                                // Update display style to disabled/block
                                disableButton = true
                                expense_age_errors[i].style.display='block'
                            }
                        }
                        else if (age.value == "Target Retirement Age") {
                            // Update display style to disabled/block
                            disableButton = true
                            expense_age_errors[i].style.display='block'
                        }
                        else if (Number(age.value) >= Number(expense_stop_ages[i].value)) {
                            // Update display style to disabled/block
                            disableButton = true
                            expense_age_errors[i].style.display='block'
                        }
                    });

                    expense_starting_amounts.forEach(function (amount, i) {
                        expense_amount_errors[i].style.display = 'none'
                        if (Number(amount.value) <= 0) {
                            // Update display style to disabled/block
                            disableButton = true
                            expense_amount_errors[i].style.display='block'
                        }
                    });

                    expense_rates.forEach(function (rate, i) {
                        expense_rate_errors[i].style.display = 'none'
                        if (Number(rate.value) < 0 || Number(rate.value > 99.9)) {
                            // Update display style to disabled/block
                            disableButton = true
                            expense_rate_errors[i].style.display='block'
                        }
                    });

                    // Update button style based on pass/fail of constraints
                    expensesButton.disabled = disableButton;
                }
            }
        }
    }
    
    document.body.addEventListener('htmx:afterSwap', function (evt) {
        expenseInfoValidation()
    })

    document.addEventListener('change', function (e) {
        if (e.target.classList.contains("input-field") || e.target.classList.contains("input-select")) {
            expenseInfoValidation()
        }
    })

    document.body.addEventListener('htmx:afterRequest', function (evt) {
        if (evt.detail.requestConfig.verb == 'delete') {
            expenseInfoValidation()
        }
    })
</script>

<!-- EXPENSES -->
<section id="expenses" class="mt-4 mb-4">
    <!-- CARD -->
    <div class="card tip-card-expenses shadow rounded mb-3">
        <div class="card-body card-body-expenses">
            <!-- TITLE -->
            <h3 class="section-title-expenses"><i class="bi bi-arrow-down icon-expenses"></i> Expenses</h3>
            <!-- EXPENSES FIELDS -->
            <div id="expense-div">
            </div>
            <div>
                <button type="button" class="btn btn-add" hx-get="{% url 'create-expense' %}" hx-target="#expense-div" hx-swap="beforeend" hx-vals="js:{entry_count: document.querySelectorAll('.expense-entry').length}"><i class="bi bi-plus"></i>  Add</button>
            </div>
        </div>
    </div>
    <div class="row g-4">
        <div class="col-lg-6 col-md-6 col-sm-6 text-start mt-4 mb-4">
            <!-- <button type="button" id="expenses-back-button" class="btn btn-action-empty btn-lg" hx-delete hx-target="#expenses" hx-swap="delete" hx-on::before-request="document.getElementById('income').hidden = false"><i class="bi bi-arrow-left"></i> Back</i></button> -->
            <button type="button" class="btn btn-action-empty btn-lg" data-bs-toggle="modal" data-bs-target="#expenses-Back-Modal"><i class="bi bi-arrow-left"></i> Income</i></button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 text-end mb-4">
            <button id="savings-button" type="button" class="btn btn-action-empty btn-lg" hx-get="{% url 'create-savings-section' %}" hx-target="#savings-div" hx-swap="beforeend transition:true" hx-on::before-request="document.getElementById('expenses').hidden = true">Savings <i class="bi bi-arrow-right"></i></button>
        </div>
    </div>
    <div class="modal fade" id="expenses-Back-Modal" data-bs-backdrop="delete" data-bs-keyboard="false" tabindex="-1" aria-labelledby="income-Back-Modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content back-modal">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel"><i class="bi-exclamation-circle-fill"></i> Leave Expenses?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Expenses entered will not be saved. <i>Are you sure?</i>
                </div>
                <div class="modal-footer" style="background: #FCFBF9;">
                    <button type="button" id="expenses-back-button" class="btn btn-action-empty" data-bs-dismiss="modal" hx-delete hx-target="#expenses" hx-swap="delete" hx-on::before-request="document.getElementById('income').hidden = false"><i class="bi bi-arrow-left"> </i>Back</i></button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- EXPENSES HTML -->
<div id="savings-div">

</div>


<style>
    /* Fade transition for HTMX */
    .htmx-swapping {
        opacity: 0;
        transition: opacity 9000ms ease;
    }
    .htmx-settling {
        opacity: 0;
    }
    #savings-div {
        transition: opacity 9000ms ease;
    }
    #savings-div.htmx-settling {
        opacity: 1;
    }
</style>