<!-- INCOME -->
<section id="income" class="mb-5">
    <h3 class="section-title-income"><i class="bi bi-cash-stack"></i> Income</h3>
    <div class="tip-card-income shadow-sm rounded mb-3">
        <!-- INCOME INSTRUCTIONS -->
        <div class="row g-4 mb-1">
            <h5>How much money do you make?</h5>
            <!-- <p><i>When determining your budget, step 1 is knowing how much money you earn...</i></p> -->
        </div>
        <div class="row g-4 mb-3">
            <div class="accordion" id="accordionFlushExample">
                <div class="accordion-item border-0">
                    <h2 class="accordion-header" id="incomes-headingOne">
                        <button class="accordion-button collapsed fw-bold" style="color: white; background-color: #16634f;" type="button" data-bs-toggle="collapse" data-bs-target="#incomes-collapseOne" aria-expanded="false" aria-controls="incomes-collapseOne">
                        Salary
                        </button>
                    </h2>
                    <div id="incomes-collapseOne" class="accordion-collapse collapse" aria-labelledby="incomes-headingOne">
                        <div class="accordion-body" style="background-color: #84edd383;">
                            <p><b><i class="bi bi-question-lg"></i> How: </b>Review compensation statements provided by your employer(s) to derive your current <u>gross salary</u> amount. For those with variable income or working as independent contractors, utilize prior year amounts as fit to inform your current amount.</p>
                            <p><b><i class="bi bi-calculator-fill"></i> Why: </b>Your salary figure will be your main source of income and should dictate your lifestyle spending choices. Your current salary will dictate</p>
                            <p><b><i class="bi bi-lightbulb-fill"></i> Tip: </b>Understand factors within your control such as frequent job hopping and factors out of your control such as a recession.</p>
                            <p><b><i class="bi bi-asterisk"></i> Note: </b> This is a note....</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item border-0">
                    <h2 class="accordion-header" id="incomes-headingTwo">
                        <button class="accordion-button collapsed fw-bold" style="color: white; background-color: #257b64;" type="button" data-bs-toggle="collapse" data-bs-target="#incomes-collapseTwo" aria-expanded="false" aria-controls="incomes-collapseTwo">
                        Raises
                        </button>
                    </h2>
                    <div id="incomes-collapseTwo" class="accordion-collapse collapse" aria-labelledby="incomes-headingTwo">
                        <div class="accordion-body" style="background-color: #84edd383;">
                            <p><b><i class="bi bi-question-lg"></i> How: </b>An <u>annual raise of 3-5% is a safe estimate</u> but depending on your industry it could be higher or lower.</p>
                            <p><b><i class="bi bi-calculator-fill"></i> Why: </b>Factoring in raises will help you understand how your income may grow over time and how that can impact your savings rate and retirement timeline.</p>
                            <p><b><i class="bi bi-lightbulb-fill"></i> Tip: </b>Understand factors within your control such as frequent job hopping and factors out of your control such as a recession.</p>
                            <p><b><i class="bi bi-asterisk"></i> Note: </b> This is a note....</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item border-0">
                    <h2 class="accordion-header" id="incomes-headingThree">
                        <button class="accordion-button collapsed fw-bold" style="color: white; background-color: #35927a;" type="button" data-bs-toggle="collapse" data-bs-target="#incomes-collapseThree" aria-expanded="false" aria-controls="incomes-collapseThree">
                        Bonuses
                        </button>
                    </h2>
                    <div id="incomes-collapseThree" class="accordion-collapse collapse" aria-labelledby="incomes-headingThree">
                        <div class="accordion-body" style="background-color: #84edd383;">
                            <p><b><i class="bi bi-question-lg"></i> How: </b>Yearly bonuses are not a given and may not happen at all depending on your line of work. Utilize prior year amounts or employment offer letters, if possible, to derive your bonus payments as an estimated percentage of your salary. Be conservative as there are many factors out of your control that may reduce this percentage.</p>
                            <p><b><i class="bi bi-calculator-fill"></i> Why: </b>This is how it will be used within the simulation...</p>
                            <p><b><i class="bi bi-lightbulb-fill"></i> Tip: </b>This is a tip...</p>
                            <p><b><i class="bi bi-asterisk"></i> Note: </b> This is a note....</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-4">
            <!-- INCOME FIELDS -->
            <div class="col-lg-4">
                <h5 class="fw-bold">Salary <i class="bi bi-question-circle-fill text-success" data-bs-toggle="tooltip" data-bs-placement="top" title="TBD Tooltip"></i></h5>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <div class="form-floating">
                        <input type="number" class="form-control" id="current_yearly_salary" name="current_yearly_salary" min="1000" max="1000000" value="75000" required>
                        <label for="current_yearly_salary">Current Yearly Gross Salary</label>
                    </div>
                </div>
                <div id="current_yearly_salaryHelp" class="form-text mb-3"><small>What is your current yearly gross salary prior to any deductions <i>i.e., Taxes, Retirement Contributions, Health Insurance?</i></small></div>
            </div>
            <div class="col-lg-4">
                <h5 class="fw-bold">Raises <i class="bi bi-question-circle-fill text-success" data-bs-toggle="tooltip" data-bs-placement="top" title="TBD Tooltip"></i></h5>
                <div class="input-group">
                    <div class="form-floating">
                        <input type="number" class="form-control" id="estimated_salary_raise" name="estimated_salary_raise" min="0" max="99.9" value="3.0" step=".1" required>
                        <label for="estimated_salary_raise">Estimated Yearly Salary Raise</label>
                    </div>
                    <span class="input-group-text">%</span>
                </div>
                <div id="estimated_salary_raiseHelp" class="form-text mb-3"><small>On average, how much do you anticipate your salary to increase each year?</small></div>
            </div>
            <div class="col-lg-4">
                <h5 class="fw-bold">Bonuses <i class="bi bi-question-circle-fill text-success" data-bs-toggle="tooltip" data-bs-placement="top" title="TBD Tooltip"></i></h5>
                <div class="input-group">
                    <div class="form-floating">
                        <input type="number" class="form-control" id="estimated_bonus" name="estimated_bonus" min="0" max="999.9" value="1.5" step=".1" required>
                        <label for="estimated_bonus">Estimated Yearly Bonus</label>
                    </div>
                    <span class="input-group-text">%</span>
                </div>
                <div id="estimated_bonusHelp" class="form-text mb-3"><small>On average, what percentage of your yearly salary do you anticipate to recieve as a bonus each year?</small></div>
            </div>
        </div>
        <div class="row g-4 mb-3">
            <!-- INCOME INSTRUCTIONS -->
            <div class="accordion" id="accordionFlushExample">
                <div class="accordion-item border-0">
                    <h2 class="accordion-header" id="incomes-headingFour">
                        <button class="accordion-button collapsed fw-bold" style="color: white; background-color: #16634f;" type="button" data-bs-toggle="collapse" data-bs-target="#incomes-collapseFour" aria-expanded="false" aria-controls="incomes-collapseFour">
                        Other Income
                        </button>
                    </h2>
                    <div id="incomes-collapseFour" class="accordion-collapse collapse" aria-labelledby="incomes-headingFour">
                        <div class="accordion-body" style="background-color: #84edd383;">
                            <p><b><i class="bi bi-question-lg"></i> How: </b>Income earned outside of your normal salary(s) should be included if it is <u>currently a consistent factor</u> within your monthly/yearly budget. Some sources of income might be easy to predict annual increases such as rental income or trust annuities while some might be just a fixed amount.</p>
                            <p><b><i class="bi bi-calculator-fill"></i> Why: </b>This is how it will be used within the simulation...</p>
                            <p><b><i class="bi bi-lightbulb-fill"></i> Tip: </b>This is a tip...</p>
                            <p><b><i class="bi bi-asterisk"></i> Note: </b> For those receiving stock as compensation along with their normal salary, include that within the this section as a dollar amount or within the Bonus section as a percentage of your gross salary.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-4">
            <!-- INCOME FIELDS -->
            <div class="col-lg-6">
                <h5 class="fw-bold">Other Income</h5>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <div class="form-floating">
                        <input type="number" class="form-control" id="current_yearly_other_income" name="current_yearly_other_income" min="0" max="1000000" value="0" required>
                        <label for="current_yearly_other_income">Current Other Income</label>
                    </div>
                </div>
                <div id="current_yearly_other_incomeHelp" class="form-text mb-3"><small>Do you currently receive any addtional income on a yearly basis? <i>i.e., Rental Properties, Trusts, Side Hustles</i></small></div>
            </div>
            <div class="col-lg-6">
                <h5 class="fw-bold">Future Other Income</h5>
                <div class="input-group">
                    <div class="form-floating">
                        <input type="number" class="form-control" id="estimated_other_income_increase" name="estimated_other_income_increase" min="0" max="99.9" value="0.0" step=".1" required>
                        <label for="estimated_other_income_increase">Estimated Yearly Other Income Increase</label>
                    </div>
                    <span class="input-group-text">%</span>
                </div>
                <div id="estimated_other_income_increaseHelp" class="form-text mb-3"><small>On average, how much do you anticipate your other income to increase each year?</small></div>
            </div>
        </div>
        <div class="row g-4 mb-3">
            <!-- INCOME INSTRUCTIONS -->
            <div class="accordion" id="accordionFlushExample">
                <div class="accordion-item border-0">
                    <h2 class="accordion-header" id="incomes-headingFive">
                        <button class="accordion-button collapsed fw-bold" style="color: white; background-color: #16634f;" type="button" data-bs-toggle="collapse" data-bs-target="#incomes-collapseFive" aria-expanded="false" aria-controls="incomes-collapseFive">
                        Lump Sum Income
                        </button>
                    </h2>
                    <div id="incomes-collapseFive" class="accordion-collapse collapse" aria-labelledby="incomes-headingFive">
                        <div class="accordion-body" style="background-color: #84edd383;">
                            <p><b><i class="bi bi-question-lg"></i> How: </b>If you have any anticipated large inheritances of money in the future (prior to your retirement age) that you believe will factor into your retirement savings, detail their amounts and anticipated age upon receival.</p>
                            <p><b><i class="bi bi-calculator-fill"></i> Why: </b>This is how it will be used within the simulation...</p>
                            <p><b><i class="bi bi-lightbulb-fill"></i> Tip: </b>This is a tip...</p>
                            <p><b><i class="bi bi-asterisk"></i> Note: </b> This is a note...
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-4">
            <!-- INCOME FIELDS -->
            <div class="col-12">
                <h5 class="fw-bold">Lump Sum Income</h5>
                <div id="lumpsumincome-div">
                </div>
                <div>
                    <button type="button" class="btn btn-primary" hx-get="{% url 'create-lumpsum-income' %}" hx-vals="js:{max_age: document.getElementById('estimated_retirement_age').value, min_age: document.getElementById('current_age').value}" hx-target="#lumpsumincome-div" hx-swap="beforeend transform:true"><i class="bi bi-plus-circle-fill"></i> Add Lump Sum</button>
                    <p class="form-text"><small><i>*One entry per year before retirement age</i></small></p>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="hr-big">
<!-- EXPENSES HTML -->
<div id="expenses-div" class="text-center mt-3 mb-3">
    <button type="button" class="btn btn-primary btn-lg" hx-get="{% url 'create-expenses-section' %}" hx-target="#expenses-div" hx-swap="outerHTML transition:true"><i class="bi bi-arrow-down-circle-fill"></i> Expenses</i></button>
</div>
<style>
    /* Fade transition for HTMX */
    .htmx-swapping {
        opacity: 0;
        transition: opacity 9000ms ease;
    }
    .htmx-settling {
        opacity: 0;
    }
    #incomes-div {
        transition: opacity 9000ms ease;
    }
    #incomes-div.htmx-settling {
        opacity: 1;
    }
</style>

<script>
    FIREscrollspy.refresh()
</script>