<script>
    function savingInfoValidation() {
        const saving_entries = document.querySelectorAll('.saving-entry')
        const savingsButton = document.getElementById('savings-button')
        saving_entries.forEach(function (entry, i) {
            const saving_name_header = entry.querySelectorAll('.saving_name_header')[0]
            const saving_name = entry.querySelectorAll('.saving_name')[0].value
            saving_name_header.textContent = saving_name + " - Investment Priority: " + String(i + 1)
        })
    }

    document.body.addEventListener('htmx:afterSwap', function (evt) {
        savingInfoValidation()
        tooltips()
    })

    document.body.addEventListener('drop', function (evt) {
        savingInfoValidation()
    })

    document.addEventListener('change', function (e) {
        if (e.target.classList.contains("saving_name")) {
            savingInfoValidation()
        }
    })
</script>

<script>
    function savingsAccordionAction(action) {
        const saving_entries = document.querySelectorAll('.saving-entry')
        saving_entries.forEach(function (entry, i) {
            accordion = entry.querySelectorAll('.savings-accordion')[0]
            if (action == "Expand") {
                accordion.classList.add("show")
            }
            else {
                accordion.classList.remove("show")
            }
        })
    }
</script>

<!-- Savings -->
<section id="savings" class="mt-4 mb-4">
    <!-- CARD -->
    <div class="card tip-card-savings shadow rounded mb-3">
        <div class="card-body card-body-savings">
            <!-- TITLE -->
            <h3 class="section-title-savings"><i class="bi bi-currency-dollar icon-savings"></i> Savings</h3>
            <div class="m-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="saving_option" id="saving_option_simple" value="Simple" hx-get="{% url 'savings-method' %}" hx-target="#savings-method" hx-trigger="click" hx-swap="innerHTML">
                    <label class="form-check-label" for="saving_option_simple">Simple</label>
                    <a tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Simple" data-bs-content="Savings will be added to your current net worth and will grow at a singular growth rate."><i class="bi bi-question-circle"></i></a>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="saving_option" id="saving_option_recommended" value="Recommended" hx-get="{% url 'savings-method' %}" hx-target="#savings-method" hx-trigger="click" hx-swap="innerHTML">
                    <label class="form-check-label" for="saving_option_fire">Recommended</label>
                    <a tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Recommended" data-bs-html="true" data-bs-content="Savings will be allocated in the following order*: <ol> <li>401k to recieve employer match</li><li>Max HSA</li><li>Max 401k</li><li>Max IRA</li><li>TBA</li></ol> *Each account is optional"><i class="bi bi-question-circle"></i></a>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="saving_option" id="saving_option_custom" value="Custom" hx-get="{% url 'savings-method' %}" hx-target="#savings-method" hx-trigger="click" hx-swap="innerHTML">
                    <label class="form-check-label" for="saving_option_advanced">Custom</label>
                    <a tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Custom" data-bs-content="Savings will be allocated per your priorities. Add as many accounts and order them yourself!"><i class="bi bi-question-circle"></i></a>
                </div>
            </div>
            <div id="savings-method">

            </div>
        </div>
    </div>
    <div class="row g-4">
        <div class="col-lg-6 col-md-6 col-sm-6 text-start mt-4 mb-4">
            <!-- <button type="button" id="savings-back-button" class="btn btn-action-empty btn-lg" hx-delete hx-target="#savings" hx-swap="delete" hx-on::before-request="document.getElementById('expenses').hidden = false"><i class="bi bi-arrow-left"></i> Back</i></button> -->
            <button type="button" class="btn btn-action-empty btn-lg" data-bs-toggle="modal" data-bs-target="#savings-Back-Modal"><i class="bi bi-arrow-left"></i> Back</i></button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 text-end mb-4">
            <button type="submit" class="btn btn-action-empty btn-lg"><i class="bi bi-play"></i> Create Plan</button>
        </div>
    </div>
    <div class="modal fade" id="savings-Back-Modal" data-bs-backdrop="delete" data-bs-keyboard="false" tabindex="-1" aria-labelledby="income-Back-Modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content back-modal">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel"><i class="bi-exclamation-circle-fill"></i> Leave Savings?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Savings entered will not be saved. <i>Are you sure?</i>
                </div>
                <div class="modal-footer" style="background: #FCFBF9;">
                    <button type="button" id="savings-back-button" class="btn btn-action-empty" data-bs-dismiss="modal" hx-delete hx-target="#savings" hx-swap="delete" hx-on::before-request="document.getElementById('expenses').hidden = false"><i class="bi bi-arrow-left"> </i> Expenses</i></button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- savings HTML -->
<div id="savings-div">

</div>


<style>
    /* Fade transition for HTMX */
    .htmx-swapping {
        opacity: 0;
        transition: opacity 9000ms ease;
    }
    .htmx-settling {
        opacity: 0;
    }
    #incomes-div {
        transition: opacity 9000ms ease;
    }
    #incomes-div.htmx-settling {
        opacity: 1;
    }
</style>