<script>
    function incomeInfoValidation() {
        console.log("val")
        const section = document.getElementById("income")
        if (section) {

            if (section.hidden == false) {

                // Define Variables from DOM
                const income_entries = document.querySelectorAll('.income-entry')
                const expensesButton = document.getElementById('expenses-button')

                // Set initial stlye for button
                let disableButton = false

                // If no income entries:
                if (income_entries.length === 0) {

                    // Update button style to disabled
                    disableButton = true
                    expensesButton.disabled = disableButton;
                }

                // If there are income entries:
                else {
                    let disableButton = false
                    const income_name_headers = document.querySelectorAll('.income_name_header')
                    const income_names = document.querySelectorAll('.income_name')
                    const income_categories = document.querySelectorAll('.income_category')
                    const income_name_errors = document.querySelectorAll('.income-name-error')
                    const income_category_errors = document.querySelectorAll('.income-category-error')
                    const income_start_ages = document.querySelectorAll('.income_start_age')
                    const income_stop_ages = document.querySelectorAll('.income_stop_age')
                    const income_age_errors = document.querySelectorAll('.income-age-error')
                    const income_starting_amounts = document.querySelectorAll('.income_starting_amount')
                    const income_amount_errors = document.querySelectorAll('.income-amount-error')
                    const income_rates = document.querySelectorAll('.income_rate')
                    const income_rate_errors = document.querySelectorAll('.income-rate-error')

                    income_names.forEach(function (name, i) {
                        income_name_errors[i].style.display = 'none'
                        income_name_headers[i].textContent = name.value
                        if (name.value == '') {
                            // Update display style to disabled/block
                            disableButton = true
                            income_name_errors[i].style.display='block'
                        }
                    });

                    income_categories.forEach(function (category, i) {
                        income_category_errors[i].style.display = 'none'
                        if (category.value == 'None') {
                            // Update display style to disabled/block
                            disableButton = true
                            income_category_errors[i].style.display='block'
                        }
                    });

                    income_start_ages.forEach(function (age, i) {
                        income_age_errors[i].style.display = 'none'
                        if (age.value == "Current Age") {
                            if (income_stop_ages[i].value == "Current Age") {
                                // Update display style to disabled/block
                                disableButton = true
                                income_age_errors[i].style.display='block'
                            }
                        }
                        else if (age.value == "Target Retirement Age") {
                            // Update display style to disabled/block
                            disableButton = true
                            income_age_errors[i].style.display='block'
                        }
                        else if (Number(age.value) >= Number(income_stop_ages[i].value)) {
                            // Update display style to disabled/block
                            disableButton = true
                            income_age_errors[i].style.display='block'
                        }
                    });

                    income_starting_amounts.forEach(function (amount, i) {
                        income_amount_errors[i].style.display = 'none'
                        if (Number(amount.value) <= 0) {
                            // Update display style to disabled/block
                            disableButton = true
                            income_amount_errors[i].style.display='block'
                        }
                    });

                    income_rates.forEach(function (rate, i) {
                        income_rate_errors[i].style.display = 'none'
                        if (Number(rate.value) < 0 || Number(rate.value > 99.9)) {
                            // Update display style to disabled/block
                            disableButton = true
                            income_rate_errors[i].style.display='block'
                        }
                    });

                    // Update button style based on pass/fail of constraints
                    expensesButton.disabled = disableButton;
                }
            }
        }
    }
    
    document.body.addEventListener('htmx:afterSwap', function (evt) {
        incomeInfoValidation()
        tooltips()
    })

    document.addEventListener('change', function (e) {
        if (e.target.classList.contains("input-field") || e.target.classList.contains("input-select")) {
            incomeInfoValidation()
        }
    })

    document.body.addEventListener('htmx:afterRequest', function (evt) {
        if (evt.detail.requestConfig.verb == 'delete') {
            incomeInfoValidation()
        }
    })
</script>

<!-- INCOME -->
<section id="income" class="mt-4 mb-4">
    <!-- SORTABLE -->
    <script>
        document.body.addEventListener('htmx:afterRequest', function (evt) {
            console.log(evt.detail.requestConfig.verb)
            const income_entries = document.getElementById('income-div');

            const sortable = new Sortable(income_entries, {
                animation: 150,
                handle: '.accordion-header', // users drag the header
                ghostClass: 'bg-light',
                onEnd: function (evt) {
                    const newOrder = Array.from(income_entries.children).map(item => item.dataset.id);
                }
            });
        });
    </script>
    <!-- CARD -->
    <div class="card tip-card-income shadow rounded mb-3">
        <div class="card-body card-body-income">
            <!-- TITLE -->
            <h3 class="section-title-income"><i class="bi bi-arrow-up icon-income"></i> Income</h3>
            <!-- INCOME FIELDS -->
            <div id="income-div">
            </div>
            <div>
                <button type="button" class="btn btn-add" hx-get="{% url 'create-income' %}" hx-target="#income-div" hx-swap="beforeend" hx-vals="js:{entry_count: document.querySelectorAll('.income-entry').length}"><i class="bi bi-plus"></i>  Add</button>
            </div>
        </div>
    </div>
    <div class="row g-4">
        <div class="col-lg-6 col-md-6 col-sm-6 text-start mt-4 mb-4">
            <!-- <button type="button" class="btn btn-action-empty btn-lg" hx-delete hx-target="#income" hx-swap="delete" hx-on::before-request="document.getElementById('personalInfo').hidden = false"><i class="bi bi-arrow-left"></i> Back</i></button> -->
            <button type="button" class="btn btn-action-empty btn-lg" data-bs-toggle="modal" data-bs-target="#income-Back-Modal"><i class="bi bi-arrow-left"></i> Personal Info</i></button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 text-end mb-4">
            <button id="expenses-button" type="button" class="btn btn-action-empty btn-lg" hx-get="{% url 'create-expenses-section' %}" hx-target="#expenses-div" hx-swap="beforeend transition:true" hx-on::before-request="document.getElementById('income').hidden = true">Expenses <i class="bi bi-arrow-right"></i></button>
        </div>
    </div>
    <div class="modal fade" id="income-Back-Modal" data-bs-backdrop="delete" data-bs-keyboard="false" tabindex="-1" aria-labelledby="income-Back-Modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content back-modal">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel"><i class="bi-exclamation-circle-fill"></i> Leave Incomes?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Incomes entered will not be saved. <i>Are you sure?</i>
                </div>
                <div class="modal-footer" style="background: #FCFBF9;">
                    <button type="button" id="income-back-button" class="btn btn-action-empty" data-bs-dismiss="modal" hx-delete hx-target="#income" hx-swap="delete" hx-on::before-request="document.getElementById('personalInfo').hidden = false"><i class="bi bi-arrow-left"> </i>Back</i></button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- EXPENSES HTML -->
<div id="expenses-div">

</div>


<style>
    /* Fade transition for HTMX */
    .htmx-swapping {
        opacity: 0;
        transition: opacity 9000ms ease;
    }
    .htmx-settling {
        opacity: 0;
    }
    #expenses-div {
        transition: opacity 9000ms ease;
    }
    #expenses-div.htmx-settling {
        opacity: 1;
    }
</style>