<div class="container tbl-container">
    <div class="row tbl-fixed">
        <table class="table table-borderless table-striped table-hover table-sm">
            <thead style="position: sticky;top: 0">
                <tr>
                    <th class="header"><svg class="align-self-center" xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" fill="none"><circle cx="5.5" cy="5" r="5" fill="#B34E82"/></svg> Age</th>
                    <th class="header"><svg class="align-self-center" xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" fill="none"><circle cx="5.5" cy="5" r="5" fill="#285C53"/></svg> Gross</th>
                    <th class="header"><svg class="align-self-center" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none"><circle cx="5" cy="5" r="5" fill="#EC652B"/></svg> Tax</th>
                    <th class="header"><svg class="align-self-center" xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" fill="none"><circle cx="5.5" cy="5" r="5" fill="#285C53"/></svg> Net</th>
                </tr>
            </thead>
            <tbody>
                {% for d in data %}
                    <tr>
                        <td>{{ d.age }}</td>
                        <td>{{ d.gross_amount }}</td>
                        <td>{{ d.tax_amount }}</td>
                        <td>{{ d.net_amount }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>